* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$grid-gutter-width: 20px;
@import "bootstrap/scss/bootstrap-grid";

a {
  color: inherit;
}

body {
  padding-top: 103px;
  font-family: "ITC Avant Garde Gothic Pro";
  overflow-x: hidden;
  background-color: #1a1a1a;
}

img,
video {
  display: block;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 104px;
  flex-shrink: 0;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  h1 {
    color: var(--title, #ff9fd0);
    text-align: center;
    font-family: "ITC Avant Garde Gothic Pro";
    font-size: 64px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
  }
  img {
    position: absolute;
    right: 35;
    top: 35;
    width: 35px;
    height: 25.053px;
    flex-shrink: 0;
  }
}

.homepage {
  background-image: url(/src/img/homepage-img.jpg);
  display: flex;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    color: var(--bg, #1a1a1a);
    font-family: "ITC Avant Garde Gothic Pro";
    font-size: 91px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h3 {
    margin-top: 35%;
    color: var(--title, #ff9fd0);
    font-family: "ITC Avant Garde Gothic Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 8.4px;
  }
  h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 8%;
    margin-top: 4%; /* 200% */
    width: 84%;
  }
  .savoirplus {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 27%;
    h1 {
      overflow: hidden;
      color: var(--title, #ff9fd0);
      text-overflow: ellipsis;
      font-family: Helvetica;
      font-size: 22.429px;
      font-weight: 400;
    }
    div {
      width: 141px;
      height: 3px;
      flex-shrink: 0;
      border-radius: 76px;
      background: var(--title, #ff9fd0);
    }
  }
}
.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 206px;
  background-color: #1a1a1a;
  color: white;
  .col-12 {
    display: flex;
    gap: 13.5%;
    h1 {
      color: var(--title, #ff9fd0);
      font-size: 90px;
      font-weight: 500;
    }
    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2.4px;
    }
    h3 {
      color: var(--sub-color, #f5ebda);
      font-family: Helvetica;
      font-size: 17px;
      font-weight: 400;
    }
    .underline {
      height: 3px;
      align-self: stretch;
      border-radius: 76px;
      background: #fff;
    }
    .sp1 {
      margin-top: 4%;
      display: flex;
      gap: 8px;
      align-items: last baseline;

      h3 {
        width: 188px;
      }
      .cont {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100%;
      }
    }
  }
}
.separate {
  width: 10020px;
  height: 2px;
  flex-shrink: 0;
  color: white;
  background-color: white;
}

.history {
  overflow: hidden;
  margin-top: -1%;
  h1 {
    color: var(--bg, #ffffff);
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  h3 {
    margin-top: 220px;
    color: var(--title, #ff9fd0);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8.4px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  img {
    position: absolute;
    margin-right: 5%;
    top: 1300;
    right: -125;
    z-index: -1;
  }

  h2 {
    position: relative;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    margin-bottom: 61px;
  }
  .savoirplus {
    display: flex;
    flex-direction: column;

    h1 {
      overflow: hidden;
      color: var(--title, #ff9fd0);
      text-overflow: ellipsis;
      font-family: Helvetica;
      font-size: 22.429px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    div {
      width: 141px;
      height: 3px;
      flex-shrink: 0;
      border-radius: 76px;
      background: var(--title, #ff9fd0);
    }
  }
}

.wine {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 19%;
  flex-direction: row;
  margin-bottom: 8%;

  h1 {
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
  }
  h3 {
    color: var(--title, #ff9fd0);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8.4px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
  }
}

.wine-card {
  padding-left: 7%;
  padding-right: 17%;
  color: #fff;
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 24px;
    font-weight: 500;
  }
  h2 {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 300;
  }
  h3 {
    color: #ff9fd0;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
  }
  h4 {
    font-family: Helvetica;
    font-size: 33.014px;
    font-weight: 400;
  }
  .card {
    position: relative;
    display: flex;
    height: 245px;
    padding: 25px 25px 25px 130px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 10px;
    background: #373737;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .content {
      display: flex;
      gap: 5%;
      img {
        width: 25.989px;
        height: 25.072px;
        flex-shrink: 0;
      }
      div {
        display: flex;
        gap: 20px;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;

    img {
      width: 125px;
      height: 466px;
      position: absolute;
      left: 5px;
      bottom: -110px;
    }
  }
}
.arrow {
  width: 20px;
  height: 34px;
  flex-shrink: 0;
  position: absolute;
  right: -15%;
}
.bars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15%;
  .bar {
    width: 397px;
    height: 5px;
    border-radius: 6px;
    background: #5c5c5c;
  }

  .is-active {
    width: 397px;
    height: 5px;
    border-radius: 6px;
    background: #ff9fd0;
  }
}

.poets {
  h3 {
    color: var(--title, #ff9fd0);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8.4px;
    text-transform: uppercase;
    margin-bottom: 1%;
    margin-top: 8%;
  }
  .titre {
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
  }
  .arrow-pink {
    position: absolute;
    right: 0;
    top: 22px;
  }
}

.contenu {
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;

  flex-shrink: 0;
  justify-content: space-between;
  img {
    border-radius: 10px;
    height: 398px;
    flex-shrink: 0;
    align-self: stretch;
    margin-bottom: 45px;
  }

  h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2.4px;
  }
  h2 {
    color: var(--title, #ff9fd0);
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
  }
  h4 {
    color: #fff;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    display: block;
    align-self: stretch;
    margin-bottom: 50px;
  }
  .line {
    background-color: #fff;
    height: 1px;
    align-self: stretch;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .bas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -40px;
    gap: 25px;
    img {
      height: 26px;
      border-radius: 0px;
    }
  }
}
.octave {
  img {
    margin-top: 80px;
  }
}
.oscar {
  img {
    margin-top: 55px;
  }
}
.maxime {
  img {
    margin-top: 105px;
  }
}
.tilio {
  img {
    margin-top: 80px;
  }
}

.foot1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  .top {
    div {
      display: flex;
    }
    h1 {
      color: var(--title, #ff9fd0);
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2.4px;
    }
    h2 {
      color: #fff;
      font-family: Helvetica;
      font-size: 17px;
      font-weight: 400;
      line-height: 35px; /* 205.882% */
      border-radius: 0px 5px 5px 0px;
      background: linear-gradient(0deg, #373737 -92.86%, #ff9fd0 48.57%);
      width: 112px;
      height: 35px;
      flex-shrink: 0;
      text-align: center;
    }
    h3 {
      color: #a5a5a5;
      font-family: Helvetica;
      font-size: 17px;
      font-weight: 400;
      line-height: 35px; /* 205.882% */
      border-radius: 10px 0px 0px 10px;
      border: 1px solid #fff;
      width: 308px;
      height: 35px;
      flex-shrink: 0;
      text-align: center;
    }
  }
  .bio {
    display: flex;
    align-items: center;
    height: 85px;
    gap: 20px;
    .foot-img {
      margin-left: -20px;
    }
    img {
      flex-shrink: 0;
    }
  }
  h4 {
    color: #fff;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px; /* 205.882% */
  }
}
.foot2,
.foot3 {
  h1 {
    color: var(--title, #ff9fd0);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2.4px;
  }
  h2 {
    margin-top: 10px;
    color: #fff;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px; /* 205.882% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

.foot-icon {
  display: flex;
  width: 246px;
  align-items: center;
  gap: 11px;
  div {
    display: flex;
    width: 19px;
    height: 90px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
  }
}
.right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  h1 {
    color: var(--title, #ff9fd0);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2.4px;
  }
  h2 {
    margin-top: 10px;
    color: #fff;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
  }
}
.footer {
  background-color: black;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 110px;
}
.footer-news {
  margin-top: 10px;
}

.homepage2 {
  display: flex;
  justify-content: flex-start;
  background: #1a1a1a;
  background-image: url(../img/nectar-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
  height: 976px;
  width: 100%;
  overflow: hidden;
  margin-bottom: -10%;

  h1 {
    color: #fff;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #fff;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h2 {
    margin-top: -65%;
    color: var(--title, #ff9fd0);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 8.4px;
    margin-bottom: 10px;
  }
  h3 {
    color: #fff;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }
  h4,
  p {
    color: #fff;
    text-align: justify;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h5 {
    overflow: hidden;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Helvetica;
    font-size: 22.429px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .button {
    display: flex;
    padding: 15px 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: linear-gradient(348deg, #373737 -40.54%, #ff9fd0 49.73%);
    box-shadow: -12px 8px 21.6px 0px rgba(0, 0, 0, 0.4);
  }
  .middle {
    display: flex;
    padding: 20px 46px;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    align-self: stretch;
    border-radius: 15px;
    background: #272727;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .azz {
    margin-bottom: 25px;
  }
  .top {
    margin-bottom: -120px;
  }
  .overflow {
    position: relative;
    display: inline-flex;
    height: 704px;
    padding: 482px 20px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: #1a1a1a;
    height: 976px;
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 20;
    right: 20;
  }
}

@media (max-width: 1400px) {
  .wine-card {
    h1 {
      font-size: 1.3em;
    }
    h2 {
      font-size: 1em;
    }
    h3 {
      font-size: 1em;
    }
    h4 {
      font-size: 1.6em;
    }
    img {
    }
  }
  .homepage2 {
    h1 {
      font-size: 4em;
    }
    h5 {
      font-size: 1.1em;
    }
    background-position: 30%;
    .top {
      margin-top: -200px;
      margin-bottom: -50px;
    }
  }
  .footer {
    h1 {
      font-size: 1.1em;
    }
    h2 {
      font-size: 1em;
    }
  }
}
@media (max-width: 1400px) {
  .wine-card {
    .card {
      .content {
        div {
          gap: 7px;
        }
      }
    }
  }
  .steps {
    .col-12 {
      gap: 7%;
    }
  }
}
a {
  text-decoration: none;
}
.homepage3 {
  display: flex;
  justify-content: flex-start;
  background: #1a1a1a;
  background-image: url(../img/redwinehome.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
  height: 976px;
  width: 100%;
  overflow: hidden;
  margin-bottom: -10%;

  h1 {
    color: #fff;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #fff;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h2 {
    margin-top: -65%;
    color: var(--title, #ff9fd0);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 8.4px;
    margin-bottom: 10px;
  }
  h3 {
    color: #fff;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }
  h4,
  p {
    color: #fff;
    text-align: justify;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h5 {
    overflow: hidden;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Helvetica;
    font-size: 22.429px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .button {
    display: flex;
    padding: 15px 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: linear-gradient(348deg, #373737 -40.54%, #ff9fd0 49.73%);
    box-shadow: -12px 8px 21.6px 0px rgba(0, 0, 0, 0.4);
  }
  .middle {
    display: flex;
    padding: 20px 46px;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    align-self: stretch;
    border-radius: 15px;
    background: #272727;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .azz {
    margin-bottom: 25px;
  }
  .top {
    margin-bottom: -120px;
  }
  .overflow {
    position: relative;
    display: inline-flex;
    height: 704px;
    padding: 482px 20px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: #1a1a1a;
    height: 976px;
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 20;
    right: 20;
  }
}
.button h5:hover {
  color: #1a1a1a;
}
.button h5 {
  transition: 0.5s;
}
