* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$grid-gutter-width: 20px;
@import "bootstrap/scss/bootstrap-grid";

a {
  color: inherit;
}

body {
  padding-top: 103px;
  font-family: "ITC Avant Garde Gothic Pro";
  overflow-x: hidden;
  background-color: #1a1a1a;
}

img,
video {
  display: block;
}
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.header {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 104px;
  flex-shrink: 0;
  background: #1a1a1a;
  h1 {
    color: var(--title, #ff9fd0);
    text-align: center;
    font-family: "ITC Avant Garde Gothic Pro";
    font-size: 64px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
  }
  img {
    position: absolute;
    transform: translate(1535px, -50px);
    width: 35px;
    height: 25.053px;
    flex-shrink: 0;
  }
}

.homepage {
  background-image: url(/src/img/homepage-img.jpg);
  display: flex;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    color: var(--bg, #1a1a1a);
    font-family: "ITC Avant Garde Gothic Pro";
    font-size: 91px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h3 {
    margin-top: 35%;
    color: var(--title, #ff9fd0);
    font-family: "ITC Avant Garde Gothic Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 8.4px;
  }
  h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 8%;
    margin-top: 4%; /* 200% */
    width: 84%;
  }
  .savoirplus {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 27%;
    h1 {
      overflow: hidden;
      color: var(--title, #ff9fd0);
      text-overflow: ellipsis;
      font-family: Helvetica;
      font-size: 22.429px;
      font-weight: 400;
    }
    div {
      width: 141px;
      height: 3px;
      flex-shrink: 0;
      border-radius: 76px;
      background: var(--title, #ff9fd0);
    }
  }
}
.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 206px;
  background-color: #1a1a1a;
  color: white;
  .col-12 {
    display: flex;
    gap: 13.5%;
    h1 {
      color: var(--title, #ff9fd0);
      font-size: 90px;
      font-weight: 500;
    }
    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 2.4px;
    }
    h3 {
      color: var(--sub-color, #f5ebda);
      font-family: Helvetica;
      font-size: 17px;
      font-weight: 400;
    }
    .underline {
      height: 3px;
      align-self: stretch;
      border-radius: 76px;
      background: #fff;
    }
    .sp1 {
      margin-top: 4%;
      display: flex;
      gap: 8px;
      align-items: last baseline;

      h3 {
        width: 188px;
      }
      .cont {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100%;
      }
    }
  }
}
.separate {
  width: 1920px;
  height: 2px;
  flex-shrink: 0;
  color: white;
  background-color: white;
}

.history {
  margin-top: -1%;
  h1 {
    color: var(--bg, #ffffff);
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
  }
  h3 {
    margin-top: 220px;
    color: var(--title, #ff9fd0);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8.4px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  img {
    position: absolute;
    transform: translate(670px, -660px);
  }

  h2 {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    margin-bottom: 61px;
  }
  .savoirplus {
    display: flex;
    flex-direction: column;

    h1 {
      overflow: hidden;
      color: var(--title, #ff9fd0);
      text-overflow: ellipsis;
      font-family: Helvetica;
      font-size: 22.429px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    div {
      width: 141px;
      height: 3px;
      flex-shrink: 0;
      border-radius: 76px;
      background: var(--title, #ff9fd0);
    }
  }
}

.wine {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 19%;
  flex-direction: row;
  margin-bottom: 8%;

  h1 {
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
  }
  h3 {
    color: var(--title, #ff9fd0);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8.4px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
  }
}

.wine-card {
  padding-left: 7%;
  padding-right: 17%;
  color: #fff;
  width: 110%;
  display: flex;

  h1 {
    font-size: 24px;
    font-weight: 500;
  }
  h2 {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 300;
  }
  h3 {
    color: #ff9fd0;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
  }
  h4 {
    font-family: Helvetica;
    font-size: 33.014px;
    font-weight: 400;
  }
  .card {
    position: relative;
    display: flex;
    height: 245px;
    padding: 25px 25px 25px 130px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 10px;
    background: #373737;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .content {
      display: flex;
      gap: 5%;
      img {
        width: 25.989px;
        height: 25.072px;
        flex-shrink: 0;
      }
      div {
        display: flex;
        gap: 20px;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;

    img {
      width: 125px;
      height: 466px;
      position: absolute;
      left: 5px;
      bottom: -110px;
    }
  }
}
.arrow {
  width: 20px;
  height: 34px;
  flex-shrink: 0;
  position: absolute;
  right: -15%;
}
