* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "bootstrap/scss/bootstrap-grid";

a {
  color: inherit;
}

img,
video {
  display: block;
}
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.row {
  margin-right: 15%;
  margin-left: 15%;
}

.header {
  width: 1920px;
  height: 104px;
  flex-shrink: 0;
  background: #1a1a1a;
  h1 {
    color: var(--title, #ff9fd0);
    text-align: center;
    font-family: "ITC Avant Garde Gothic Pro";
    font-size: 64px;
    font-weight: 500;
    position: relative;
  }
  img {
    position: absolute;
    transform: translate(1000px, -50px);
    width: 30px;
    height: 20.053px;
    flex-shrink: 0;
  }
}
